<head>
  <title>Add a new message</title>
</head>
<body>
  <form method="POST" action="/new">
    <label for="author">Name of the author</label>
    <input type="text" name="author" />
    <label for="messsage">Write your message</label>
    <input type="text" name="message" />
    <button type="submit">Send yout message</button>
  </form>
</body>
