<html>
 <body>
  <% messages.forEach((message) => { %>
      <h2><%= message.message %></h2>
      <p><%= message.username %></p>
      <p><%= message.date %></p>
      <a href="<%=`message/${message.id}`%>">Open message</a>
   <% })%>
   <a href="/new"> create a new message </a>
 </body>
</html>
